.search-data-list{
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    height: fit-content;
    margin-top: 24px;
    box-shadow: 0 12px 44px rgb(0 0 0 / 37%);
}
.search-data-container{
    width: 1200px;
}
.search-data-list{
    width: 49%;
}